main
  h1 Embed
  p วิชา embed ทำ websocket ต่อ STM32
  #content
    for label, key in {1: "ห้องครัว", 2: "ห้องน้า", 3: "ห้องนอน"}
      .item(key=key)
        input(type='checkbox' key=key)
        label.label(key=key) #{label}
  hr
  #message
    span loading...

script
  include ../node_modules/jquery/dist/jquery.min.js

script.

script.
  function pushMessage(msg, cls) {
    $('#message').prepend(`<p class='${cls}'>${msg}</p>`)
  }
  $(function() {
    $('#content input:checkbox').change(function() {
      console.log('send sth')
      const key = $(this).attr('key');
      const stat = $(this).prop('checked');
      try {
        ws.send(JSON.stringify({[key]: +stat}));
      } catch (err) {
        console.error("TCL: err", err)
        pushMessage("ERROR " + err, "has-text-danger")
      }
    })

    try {
      var wsURL = "#{wsURL}";
      var ws = new WebSocket(wsURL)
      ws.onopen = function () {
        $('#message').empty();
        ws.send("{}")
        pushMessage("CONNECTED", "has-text-success")
      };
      ws.onerror = function (err) {
        $('#message').empty();
        pushMessage("ERROR on WebSocket try to connect " + wsURL, "has-text-danger")
      };
      ws.onmessage = function (e) {
        pushMessage("UPDATE " + e.data, "has-text-info is-size-7")
        const db = JSON.parse(e.data);
        for (let key in db) {
          $(`#content input:checkbox[key=${key}]`).prop('checked', !!db[key]);
        }
        $(`#content input:checkbox + label`).removeClass("has-text-success")
        $(`#content input:checkbox:checked + label`).addClass("has-text-success")
      };
    } catch(err) {
      $('#message').empty();
      pushMessage("ERROR " + err.message, "has-text-danger")
    }
  })

style.
  main {
    max-width: 400px;
    padding: 3rem 2rem;
    margin: auto;
  }
  .item {margin-top: 0.5rem;}
  .label {margin-left: 0.5rem;}
  .has-text-success {color: green;}
  .has-text-danger {color: red;}
  .has-text-warning {color: yellow;}
  .has-text-info {color: #3f51b5;}
  .is-size-7 {font-size: 0.75rem;}
